# Default ignore all files
*
# ...except these files
!*.yaml
!*.md
# ...even if they are in subfolders
!*/

# Always include these files
!.github/**
!.devcontainer/**
!.vscode/*
!.gitignore
!sonar-project.properties
!secrets-example.yaml
!init.sh

# Always exclude these files
.storage
.cloud
secrets.yaml
