{# fixed price bands using simple scale
     below 0 c negative
     0 to 10 c v low
    10 to 20 c low
    20 to 30 c neutral 
    30 to 40 c high
    40 to 50 c v high
    above 60 c spike
#}
{% set band_prices_simple = [0, 10, 20, 30, 40, 50] %}

{# approximate price bands using statistic percentiles 
    eg median band is centered around median price ~= 21 c
         below 0 c negative
          0 to 6 c v low  <- 1st percentile ~= 10 c
         6 to 16 c low
        16 to 26 c neutral <- 50th percentile ~= 21 c
        26 to 36 c high
        36 to 66 c v high
        above 66 c spike <- 99th percentile ~= 50 c
#}
{% set band_prices = [0, 6, 16, 26, 36, 66, 9999] %}

{% set bands = 
[
    {
    "label": "Negative",
    "description": "Woo-hoo! Power up and fully charge! Prices are negative right now!",
    "color": "#4b0082", 
    "colorRGB": [170,0,255]
    },
    {
    "label": "Very Low",
    "description": "Wow! It's really cheap and really green to use energy right now!",
    "color": "#03a9f4", 
    "colorRGB": [0,155,230]
    },
    {
    "label": "Low", 
    "description": "It's cheap to use energy right now!",
    "color": "#00e3a0", 
    "colorRGB": [0,255,0]
    },
    {
    "label": "Neutral", 
    "description": "Carry on with normal usage, prices are around the median.",
    "color": "#ffc624", 
    "colorRGB": [250,140,0]
    },
    {
    "label": "High", 
    "description": "Energy isn't cheap. This is a great time to delay any optional usage.",
    "color": "#fb8c0f", 
    "colorRGB": [250,40,0]
    },
    {
    "label": "Very High", 
    "description": "Use less energy if you can. It's expensive right now.",
    "color": "#dc2d20", 
    "colorRGB": [255,0,0]
    },
    {
    "label": "Spike", 
    "description": "Reduce all non-essential energy use! It's super expensive right now.",
    "color": "#c920dc", 
    "colorRGB": [255,0,180]
    },
    {
    "label": "Unknown", 
    "description": "Electricity price unknown or unavailable, check Home Assistant logs.",
    "color": "#c920dc", 
    "colorRGB": [255,0,180]
    }
] 
%}

{# ALL macros return STRINGS not objects so ALWAYS format variables with default values eg | int(9999) #}

{% macro get_band_index(price_in_cents) %}
{{ band_prices | reject('gt', price_in_cents | int(9999) ) | list | count }}
{% endmacro %}

{% macro get_band(price_in_cents) %}
{{ bands[get_band_index(price_in_cents) | int(-1)] }}
{% endmacro %}

{# Creating template sensors using this.attributes.band_index work but log errors on HA restart #}
{# So create separate macros to return individual values #}
{% macro get_band_label(price_in_cents) %}
{{ bands[get_band_index(price_in_cents) | int(-1)].label }}
{% endmacro %}
{% macro get_band_description(price_in_cents) %}
{{ bands[get_band_index(price_in_cents) | int(-1)].description }}
{% endmacro %}
{% macro get_band_color(price_in_cents) %}
{{ bands[get_band_index(price_in_cents) | int(-1)].color }}
{% endmacro %}
{% macro get_band_colorRGB(price_in_cents) %}
{{ bands[get_band_index(price_in_cents) | int(-1)].colorRGB }}
{% endmacro %}
